<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freeoda.pharmacist.thepharmacist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--For Capture image from Camera and Gallery-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--end-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MainApplication"
        >
        <activity
            android:name=".SplashscreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EnterEmailActivity"
            android:label="Email Address"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EnterNameActivity"
            android:label="Enter Name" />
        <activity
            android:name=".EnterBirthDayActivity"
            android:label="Enter BirthDay" />
        <activity android:name=".EnterPwdActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ResetPasswordActivity"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".EnterNumberActivity"
            android:label="Enter Number" />

        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.freeoda.pharmacist.thepharmacist.LoginActivity" />
        </activity>
        <activity
            android:name=".DisplayImage"
            android:label="@string/title_activity_display_image"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.freeoda.pharmacist.thepharmacist.Home" />
        </activity>
        <provider
            android:name="com.adobe.creativesdk.aviary.internal.cds.CdsProvider"
            android:authorities="${applicationId}.CdsProvider"
            android:exported="false" />

    </application>

</manifest>
